/* APPLICATION */
/*!
  Modaal - accessible modals - v0.3.1
  by Humaan, for all humans.
  http://humaan.com
 */
.modaal-noscroll {
  overflow: hidden; }

.modaal-accessible-hide {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.modaal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0; }

.modaal-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  opacity: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out; }
  .modaal-wrapper * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden; }
  .modaal-wrapper .modaal-close {
    border: none;
    background: transparent;
    padding: 0;
    -webkit-appearance: none; }
  .modaal-wrapper.modaal-start_none {
    display: none;
    opacity: 1; }
  .modaal-wrapper.modaal-start_fade {
    opacity: 0; }
  .modaal-wrapper *[tabindex="0"] {
    outline: none !important; }
  .modaal-wrapper.modaal-fullscreen {
    overflow: hidden; }

.modaal-outer-wrapper {
  display: table;
  position: relative;
  width: 100%;
  height: 100%; }
  .modaal-fullscreen .modaal-outer-wrapper {
    display: block; }

.modaal-inner-wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 80px 25px; }
  .modaal-fullscreen .modaal-inner-wrapper {
    padding: 0;
    display: block;
    vertical-align: top; }

.modaal-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: left;
  color: #000;
  max-width: 1000px;
  border-radius: 0px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: auto; }
  .modaal-container.is_loading {
    height: 100px;
    width: 100px;
    overflow: hidden; }
  .modaal-fullscreen .modaal-container {
    max-width: none;
    height: 100%;
    overflow: auto; }

.modaal-close {
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  cursor: pointer;
  opacity: 1;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border-radius: 100%;
  transition: all 0.2s ease-in-out; }
  .modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: #fff; }
    .modaal-close:focus:before, .modaal-close:focus:after, .modaal-close:hover:before, .modaal-close:hover:after {
      background: white; }
  .modaal-close span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .modaal-close:before, .modaal-close:after {
    display: block;
    content: " ";
    position: absolute;
    top: 14px;
    left: 23px;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    background: black;
    transition: background 0.2s ease-in-out; }
  .modaal-close:before {
    transform: rotate(-45deg); }
  .modaal-close:after {
    transform: rotate(45deg); }
  .modaal-fullscreen .modaal-close {
    background: #afb7bc;
    right: 10px;
    top: 10px; }

.modaal-content-container {
  padding: 30px; }

.modaal-confirm-wrap {
  padding: 30px 0 0;
  text-align: center;
  font-size: 0; }

.modaal-confirm-btn {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: transparent; }
  .modaal-confirm-btn.modaal-ok {
    padding: 10px 15px;
    color: #fff;
    background: #555;
    border-radius: 3px;
    transition: background 0.2s ease-in-out; }
    .modaal-confirm-btn.modaal-ok:hover {
      background: #2f2f2f; }
  .modaal-confirm-btn.modaal-cancel {
    text-decoration: underline; }
    .modaal-confirm-btn.modaal-cancel:hover {
      text-decoration: none;
      color: #2f2f2f; }

@keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modaal-instagram .modaal-container {
  width: auto;
  background: transparent;
  box-shadow: none !important; }

.modaal-instagram .modaal-content-container {
  padding: 0;
  background: transparent; }

.modaal-instagram .modaal-content-container > blockquote {
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important; }

.modaal-instagram iframe {
  opacity: 0;
  margin: -6px !important;
  border-radius: 0 !important;
  width: 1000px !important;
  max-width: 800px !important;
  box-shadow: none !important;
  animation: instaReveal 1s linear forwards; }

.modaal-image .modaal-inner-wrapper {
  padding-left: 140px;
  padding-right: 140px; }

.modaal-image .modaal-container {
  width: auto;
  max-width: 100%; }

.modaal-gallery-wrap {
  position: relative;
  color: #fff; }

.modaal-gallery-item {
  display: none; }
  .modaal-gallery-item img {
    display: block; }
  .modaal-gallery-item.is_active {
    display: block; }

.modaal-gallery-label {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 20px 0 0;
  font-size: 18px;
  text-align: center;
  color: #fff; }
  .modaal-gallery-label:focus {
    outline: none; }

.modaal-gallery-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 100%;
  transition: all 0.2s ease-in-out; }
  .modaal-gallery-control.is_hidden {
    opacity: 0;
    cursor: default; }
  .modaal-gallery-control:focus, .modaal-gallery-control:hover {
    outline: none;
    background: #fff; }
    .modaal-gallery-control:focus:before, .modaal-gallery-control:focus:after, .modaal-gallery-control:hover:before, .modaal-gallery-control:hover:after {
      background: #afb7bc; }
  .modaal-gallery-control span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .modaal-gallery-control:before, .modaal-gallery-control:after {
    display: block;
    content: " ";
    position: absolute;
    top: 16px;
    left: 25px;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    background: #fff;
    transition: background 0.2s ease-in-out; }
  .modaal-gallery-control:before {
    margin: -5px 0 0;
    transform: rotate(-45deg); }
  .modaal-gallery-control:after {
    margin: 5px 0 0;
    transform: rotate(45deg); }

.modaal-gallery-next {
  left: 100%;
  margin-left: 40px; }

.modaal-gallery-prev {
  right: 100%;
  margin-right: 40px; }
  .modaal-gallery-prev:before, .modaal-gallery-prev:after {
    left: 22px; }
  .modaal-gallery-prev:before {
    margin: 5px 0 0;
    transform: rotate(-45deg); }
  .modaal-gallery-prev:after {
    margin: -5px 0 0;
    transform: rotate(45deg); }

.modaal-video-wrap {
  margin: auto 50px;
  position: relative; }

.modaal-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #000;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  .modaal-video-container iframe,
  .modaal-video-container object,
  .modaal-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modaal-iframe .modaal-content {
  width: 100%;
  height: 100%; }

.modaal-iframe-elem {
  width: 100%;
  height: 100%;
  display: block; }

@media only screen and (min-width: 1400px) {
  .modaal-video-container {
    padding-bottom: 0;
    height: 731px; } }

@media only screen and (max-width: 1140px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 25px;
    padding-right: 25px; }
  .modaal-gallery-control {
    top: auto;
    bottom: 20px;
    transform: none;
    background: rgba(0, 0, 0, 0.7); }
    .modaal-gallery-control:before, .modaal-gallery-control:after {
      background: #fff; }
  .modaal-gallery-next {
    left: auto;
    right: 20px; }
  .modaal-gallery-prev {
    left: 20px;
    right: auto; } }

@media screen and (max-width: 900px) {
  .modaal-instagram iframe {
    width: 500px !important; } }

@media screen and (max-height: 1100px) {
  .modaal-instagram iframe {
    width: 700px !important; } }

@media screen and (max-height: 1000px) {
  .modaal-inner-wrapper {
    padding-top: 60px;
    padding-bottom: 60px; }
  .modaal-instagram iframe {
    width: 600px !important; } }

@media screen and (max-height: 900px) {
  .modaal-instagram iframe {
    width: 500px !important; }
  .modaal-video-container {
    max-width: 900px;
    max-height: 510px; } }

@media only screen and (max-width: 600px) {
  .modaal-instagram iframe {
    width: 280px !important; } }

@media only screen and (max-height: 820px) {
  .modaal-gallery-label {
    display: none; } }

.modaal-loading-spinner {
  background: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  transform: scale(0.25); }

@-ms-keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.modaal-loading-spinner > div {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute; }

.modaal-loading-spinner > div > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #fff; }

.modaal-loading-spinner > div:nth-of-type(1) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite;
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

.modaal-loading-spinner > div:nth-of-type(2) > div, .modaal-loading-spinner > div:nth-of-type(3) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(1) {
  -ms-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(2) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .12s;
  -moz-animation-delay: .12s;
  -webkit-animation-delay: .12s;
  -o-animation-delay: .12s;
  animation-delay: .12s; }

.modaal-loading-spinner > div:nth-of-type(2) {
  -ms-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(3) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .25s;
  -moz-animation-delay: .25s;
  -webkit-animation-delay: .25s;
  -o-animation-delay: .25s;
  animation-delay: .25s; }

.modaal-loading-spinner > div:nth-of-type(4) > div, .modaal-loading-spinner > div:nth-of-type(5) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(3) {
  -ms-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(4) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .37s;
  -moz-animation-delay: .37s;
  -webkit-animation-delay: .37s;
  -o-animation-delay: .37s;
  animation-delay: .37s; }

.modaal-loading-spinner > div:nth-of-type(4) {
  -ms-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(5) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s; }

.modaal-loading-spinner > div:nth-of-type(6) > div, .modaal-loading-spinner > div:nth-of-type(7) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(5) {
  -ms-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(6) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .62s;
  -moz-animation-delay: .62s;
  -webkit-animation-delay: .62s;
  -o-animation-delay: .62s;
  animation-delay: .62s; }

.modaal-loading-spinner > div:nth-of-type(6) {
  -ms-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(7) > div {
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .75s;
  -moz-animation-delay: .75s;
  -webkit-animation-delay: .75s;
  -o-animation-delay: .75s;
  animation-delay: .75s; }

.modaal-loading-spinner > div:nth-of-type(7) {
  -ms-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(8) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite;
  animation: modaal-loading-spinner 1s linear infinite;
  -ms-animation-delay: .87s;
  -moz-animation-delay: .87s;
  -webkit-animation-delay: .87s;
  -o-animation-delay: .87s;
  animation-delay: .87s; }

.modaal-loading-spinner > div:nth-of-type(8) {
  -ms-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  -moz-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  -o-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: black;
    color: white; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
  /*

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
*/ }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: black;
    box-shadow: black;
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* VARIABLES */
/* Descriptive color variables  #e5e5e5;  #F6F6F6*/
/* Functional color variabels */
/* FONT variabels */
/* MEDIA QUERY BREAKPOINTS */
/* BASE */
body,
html {
  margin: 0px; }

.CURSR_WRAP {
  width: 100%;
  height: 100%;
  background-color: #f5b1a8; }
  @media (max-width: 550px) {
    .CURSR_WRAP {
      height: 70%; } }

#LIST_WRAP {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  position: absolute;
  text-align: center;
  padding-top: 110px; }
  @media (max-width: 1400px) {
    #LIST_WRAP {
      padding-top: 20px; } }
  @media (max-width: 768px) {
    #LIST_WRAP {
      padding-top: 50px; } }
  @media (max-width: 550px) {
    #LIST_WRAP {
      padding-top: 50px; } }

.CURSR,
.CURSR0 {
  font-size: 30px;
  font-family: courier;
  color: black; }
  @media (max-width: 550px) {
    .CURSR,
    .CURSR0 {
      font-size: 20px;
      margin-left: 0px;
      margin-top: 0px; } }
  .CURSR span,
  .CURSR0 span {
    color: white;
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: white; }

.CURSR0 {
  color: white; }

a {
  color: #f5b1a8;
  transition: 0.5s ease; }

a:visited,
a:active,
a:link {
  color: #f5b1a8; }

a:hover {
  color: black; }

hr {
  width: 70%;
  margin: 10% auto;
  padding: 1px;
  background-color: #f5b1a8; }

.title {
  padding: 0px 50px; }

.title,
.work_title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  z-index: 900;
  line-height: 60px; }
  .title:last-child,
  .work_title:last-child {
    margin-right: 0; }
  @media (max-width: 1325px) {
    .title,
    .work_title {
      padding: 0px 20px; } }
  @media (max-width: 768px) {
    .title,
    .work_title {
      text-align: center;
      font-size: 20px;
      margin: 0px;
      line-height: 50px;
      padding: 50px 0px; } }

.work_title {
  color: #f5b1a8; }

p {
  font-size: 20px;
  text-align: center;
  padding: 0px 15%;
  z-index: 900;
  line-height: 50px;
  font-weight: bold; }
  @media (max-width: 768px) {
    p {
      padding: 20px;
      text-align: left; } }

.TITLE_WIDTH {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0px;
  text-align: center;
  color: #f5b1a8; }
  .TITLE_WIDTH:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .TITLE_WIDTH {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding-top: 30px;
      font-size: 30px;
      padding-bottom: 0px; }
      .TITLE_WIDTH:last-child {
        margin-right: 0; } }

.P_WIDTH {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: left;
  padding: 0px;
  padding-right: 50px; }
  .P_WIDTH:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .P_WIDTH {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 20px; }
      .P_WIDTH:last-child {
        margin-right: 0; } }

#MAIN_WRAP h1,
h2 {
  font-size: 30px; }
  @media (max-width: 768px) {
    #MAIN_WRAP h1,
    h2 {
      font-size: 20px; } }

.box0 {
  display: table-cell;
  width: 50%; }
  @media (max-width: 768px) {
    .box0 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .box0:last-child {
        margin-right: 0; } }

.box1 {
  display: table-cell;
  width: 50%; }
  @media (max-width: 768px) {
    .box1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .box1:last-child {
        margin-right: 0; } }

.box2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: hidden; }
  .box2:last-child {
    margin-right: 0; }

.FIX {
  position: absolute; }

.tag {
  position: absolute;
  margin-bottom: 50px; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: black;
  color: #f5b1a8;
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  footer:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    footer {
      margin-top: 160px; } }
  footer a {
    margin: 80px; }
    @media (max-width: 768px) {
      footer a {
        margin: 15px; } }
  footer img {
    margin-top: 10%;
    height: 70px;
    width: 70px; }
    @media (max-width: 768px) {
      footer img {
        margin-top: 20%;
        height: 40px;
        width: 40px;
        display: inline; } }
  footer span {
    color: white; }
  footer div {
    margin: 40px;
    margin-top: 12%; }

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); } }
  footer img {
    position: relative;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white; }
  footer img:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce; }

button.accordion {
  display: inline-block;
  font-size: 50px;
  background-color: black;
  padding-bottom: 0px;
  color: #f5b1a8;
  transition: 0.2s ease;
  font-weight: bold;
  outline: none;
  border: none; }
  @media (max-width: 768px) {
    button.accordion {
      font-size: 30px;
      margin-left: -80px; } }
  @media (max-width: 550px) {
    button.accordion {
      font-size: 30px;
      margin-left: 0px; } }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active,
button.accordion:hover {
  color: #f5b1a8;
  outline: none;
  border: none;
  background-color: black; }

button:focus {
  background-color: black; }

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0px;
  margin-bottom: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  line-height: 300%;
  font-size: 20px;
  background-color: #f5b1a8; }
  @media (max-width: 768px) {
    div.panel {
      font-size: 16px;
      line-height: 200%; } }

#NAVMENU .panel a {
  color: black; }

/* ICONS */
.LOGO {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: block;
  text-align: center;
  margin: 80px auto; }
  .LOGO:last-child {
    margin-right: 0; }
  .LOGO img {
    width: 20%; }
  @media (max-width: 768px) {
    .LOGO {
      margin-bottom: 20px;
      width: 100%; }
      .LOGO img {
        width: 30%; } }

.arrow {
  position: fixed;
  opacity: 1;
  cursor: pointer;
  margin: auto;
  margin-top: -100px;
  margin-left: 50px;
  width: 60px;
  height: 60px;
  z-index: 890000; }
  @media (max-width: 768px) {
    .arrow {
      margin-top: -85px;
      margin-left: 25px;
      width: 40px;
      height: 40px; } }
  @media (max-width: 550px) {
    .arrow {
      margin-top: -85px;
      margin-left: 15px;
      width: 40px;
      height: 40px;
      display: none; } }

/* NAV MENU */
.image_full {
  display: none; }

.image_mobile {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 50px;
  width: 50px; }

#NAV {
  position: fixed;
  z-index: 999900000;
  top: 0;
  width: 100%;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease; }

#NAV.colorChange {
  position: fixed;
  z-index: 900000;
  width: 100%;
  top: 0;
  background-color: black;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease; }

.NAV {
  height: 0px;
  position: fixed; }

#NAVMENU {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  text-align: center;
  background-color: black;
  display: none;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease; }
  #NAVMENU:last-child {
    margin-right: 0; }

#NAVMENU.black {
  background: black;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease; }

#NAVMENU .nav-mobile-wrap {
  height: calc(100vh - 50px);
  padding: 80px 0;
  margin-top: 100px; }

.NAV_ITEMS {
  float: none;
  text-align: center;
  margin: auto;
  margin-right: 0px; }

.NAV_ITEMS a {
  margin-left: 0px;
  text-align: center;
  margin: auto;
  width: auto; }

#NAVMENU.push {
  margin-top: 0; }

#NAVMENU a {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5b1a8;
  font-size: 50px;
  font-weight: bold; }
  @media (max-width: 768px) {
    #NAVMENU a {
      font-size: 30px;
      margin-left: -80px; } }
  @media (max-width: 550px) {
    #NAVMENU a {
      font-size: 30px;
      margin-left: 0px; } }

#NAVMENU .sliding-middle-out:after {
  display: none; }

#NAVMENU span {
  width: 100%;
  display: block; }

.push {
  display: none; }

/* Icon 2 */
#nav-icon3 {
  width: 40px;
  height: 80px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  @media (max-width: 768px) {
    #nav-icon3 {
      margin-top: 20px;
      margin-bottom: 0px;
      margin-right: 150px; } }
  @media (max-width: 550px) {
    #nav-icon3 {
      margin-top: 20px;
      margin-bottom: 0px;
      margin-right: 20px; } }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px; }

#nav-icon3 span:nth-child(4) {
  top: 20px; }

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
  background: white; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white; }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f5b1a8; }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  background: #f5b1a8; }

/* NAV MENU END =========================== */
.ABOUT {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 30px;
  text-align: left;
  padding: 0px;
  z-index: 900;
  line-height: 50px;
  font-weight: bold;
  padding: 0px 80px; }
  .ABOUT:last-child {
    margin-right: 0; }
  .ABOUT div {
    position: relative; }
  .ABOUT img {
    height: 80px;
    width: 80px; }
    @media (max-width: 768px) {
      .ABOUT img {
        height: 50px;
        width: 50px; } }
  .ABOUT span {
    color: #f5b1a8; }
  @media (max-width: 768px) {
    .ABOUT {
      padding: 0px 20px;
      font-size: 20px; } }

.ABOUT_BLURB {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 50px; }
  .ABOUT_BLURB:last-child {
    margin-right: 0; }

.ICON_WRAP {
  font-size: 25px;
  margin: 0px;
  padding-top: 350px;
  padding-bottom: 300px;
  text-align: center; }
  @media (max-width: 768px) {
    .ICON_WRAP {
      padding-top: 200px;
      padding-bottom: 200px; } }
  @media (max-width: 550px) {
    .ICON_WRAP {
      padding-top: 420px;
      padding-bottom: 170px; } }
  .ICON_WRAP div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .ICON_WRAP div:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      .ICON_WRAP div {
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 25px;
        margin: 2px; } }

.FUCK {
  margin-left: 7px; }

.SEND {
  background-color: #f5b1a8;
  color: black;
  transition: .5s ease;
  border: 1px solid black; }
  @media (max-width: 550px) {
    .SEND {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .SEND:last-child {
        margin-right: 0; } }

.SEND:hover {
  background-color: black;
  color: #f5b1a8; }

#MAIN_WRAP {
  max-width: 1275px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  transition: 0.5s ease;
  position: relative; }
  #MAIN_WRAP::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 1400px) {
    #MAIN_WRAP {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      transition: 0.5s ease; }
      #MAIN_WRAP::after {
        clear: both;
        content: "";
        display: block; } }

#IMG_BLOCK_WRAP {
  max-width: 1275px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  transition: 0.5s ease;
  position: relative;
  width: 100%; }
  #IMG_BLOCK_WRAP::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 1400px) {
    #IMG_BLOCK_WRAP {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      transition: 0.5s ease; }
      #IMG_BLOCK_WRAP::after {
        clear: both;
        content: "";
        display: block; } }

#WRAP {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #WRAP::after {
    clear: both;
    content: "";
    display: block; }

.BREAK {
  margin-bottom: 200px;
  z-index: 900000;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .BREAK:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .BREAK {
      margin-bottom: 50px; } }

.BREAK_2 {
  margin-bottom: 100px;
  z-index: 900000;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .BREAK_2:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .BREAK_2 {
      margin-bottom: 0px; } }

.container {
  position: relative;
  width: 100%;
  background-color: black; }
  @media (max-width: 768px) {
    .container video {
      display: none; } }

.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.image_special {
  visibility: hidden;
  backface-visibility: hidden;
  display: none; }
  @media (max-width: 768px) {
    .image_special {
      opacity: 1;
      display: block;
      height: auto;
      transition: .5s ease;
      visibility: visible; } }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  @media (max-width: 768px) {
    .middle {
      opacity: 1;
      width: 100%; } }

.container:hover .image {
  opacity: 0.3; }
  @media (max-width: 768px) {
    .container:hover .image {
      opacity: 1; } }

.container:hover .middle {
  opacity: 1; }

.text1 {
  font-size: 25px;
  color: #f5b1a8;
  transition: transform 1s;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 768px) {
    .text1 {
      font-size: 25px; } }

.text {
  color: #f5b1a8;
  font-size: 33px;
  font-weight: bold;
  transition: transform 0.5s;
  text-align: center; }
  @media (max-width: 768px) {
    .text {
      font-size: 25px; } }
  .text hr {
    margin-bottom: 15%; }
    @media (max-width: 768px) {
      .text hr {
        margin: 10px auto; } }

.container:hover .text1 {
  transform: translateY(-60px); }
  @media (max-width: 768px) {
    .container:hover .text1 {
      transform: none; } }

.container:hover .text {
  transform: translateY(-50px); }
  @media (max-width: 768px) {
    .container:hover .text {
      transform: none; } }

.MB_ABOUT {
  font-size: 25px;
  margin: 20% 10% 0% 10%;
  text-align: center; }
