
.ABOUT {
  font-size: 30px;
  @include span-columns(12);
  text-align: left;
  padding: 0px 10%;
  z-index: 900;
  line-height: 50px;
  font-weight: bold;

  img {
    height: 80px;
    width: 80px;
  }

  span {
    color: $color-pink;
  }

}

.ICON_WRAP {
  font-size: 25px;
  margin-top: 150px;
  text-align: center;

  div {
    @include span-columns(3 of 12);
    text-align: center;
  }
}




.FORM1 {
      font-size: 30px;
}

.SEND {
  background-color: $color-pink;
  color: black;
  transition: .5s ease;
  border: 1px solid black;
}

.SEND:hover {
  background-color: black;
  color: #f5b1a8;
  
}

