
#MAIN_WRAP {

  @include outer-container(80%);
  background-color: white;
  transition: .5s ease;
  position: relative;

  @media #{$brk-maxwidth} {
    @include outer-container(100%);
    transition: .5s ease;
  }

}



#WRAP {
	@include outer-container(100%);
}



.BREAK {
  margin-bottom: 200px;
  z-index: 900000;
  @include span-columns(10);

    @media #{$brk-narrow} {
       margin-bottom: 50px;
    }
}

.BREAK_2 {
    margin-bottom: 100px;
    z-index: 900000;
    @include span-columns(10);

    @media #{$brk-narrow} {
       margin-bottom: 0px;
    }
}

