
#MAIN_WRAP {

	@include outer-container(90%);
	background-color: white;
	transition: .5s ease;

	@media #{$brk-wide} {
    @include outer-container(100%);
    transition: .5s ease;
  }

}



#WRAP {
	@include outer-container(100%);
}



.BREAK {
  margin-bottom: 200px;
  z-index: 900000;
  @include span-columns(10);
}

.BREAK_MB {
  margin-bottom: 150px;
  z-index: 900000;
  @include span-columns(10);
}
