

.container {
    position: relative;
    width: 100%;
    background-color: black;
}

.image {
  opacity: 1;
  display: block;
  
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;

}

.container:hover .middle {
  opacity: 1;
}

.text1 {
  font-size: 25px;
  color: #f5b1a8;
  transition: transform 1s;
  text-align: center;
  font-weight: bold;
}

.text {
  color: $color-pink;
  font-size: 33px;
  font-weight: bold;
  transition: transform 0.5s;
  text-align: center;

  hr {
    margin-bottom: 15%;
  }

}

.container:hover .text1{
   transform: translateY(-60px);
   
  }

 .container:hover .text{
   transform: translateY(-50px);
   
  }




