/* BASE */

body,
html {
  margin: 0px;
}

.CURSR_WRAP {
  width: 100%;
  height: 100%;
  background-color: $color-pink;

  @media #{$brk-small} {
    height: 70%;
  }
}

#LIST_WRAP {
  width: 100%;
  margin: auto;
  margin-top: 10%;
  position: absolute;
  text-align: center;
  padding-top: 110px;

  @media #{$brk-maxwidth} {
    padding-top: 20px;
  }

  @media #{$brk-narrow} {
    padding-top: 50px;
  }

  @media #{$brk-small} {
    padding-top: 50px;
  }
}

.CURSR,
.CURSR0 {
  font-size: 35px;
  font-family: courier;
  color: black;

  @media #{$brk-small} {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 0px;
  }

  span {
    color: white;
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: white;
  }
}

.CURSR0 {
  color: white;
}

a {
  color: $color-pink;
  transition: 0.5s ease;
}

a:visited,
a:active,
a:link {
  color: $color-pink;
}

a:hover {
  color: black;
}

hr {
  width: 70%;
  margin: 10% auto;
  padding: 1px;
  background-color: $color-pink;
}

.title {
  padding: 0px 50px;
}

.title,
.work_title {
  @include span-columns(12);
  font-size: 20px;
  text-align: center;
  z-index: 900;
  line-height: 60px;

  @media #{$brk-wide} {
    padding: 0px 20px;
  }

  @media #{$brk-narrow} {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    line-height: 50px;
    padding: 50px 0px;
  }
}

.work_title {
  color: $color-pink;
}

p {
  font-size: 20px;
  text-align: center;
  padding: 0px 15%;
  z-index: 900;
  line-height: 50px;
  font-weight: bold;

  @media #{$brk-narrow} {
    padding: 20px;
    text-align: left;
  }
}

.TITLE_WIDTH {
  @include span-columns(6);
  padding: 0px;
  text-align: center;
  color: $color-pink;

  @media #{$brk-narrow} {
    @include span-columns(12 of 12);
    padding-top: 30px;
    font-size: 30px;
    padding-bottom: 0px;
  }
}

.P_WIDTH {
  @include span-columns(6);
  text-align: left;
  padding: 0px;
  padding-right: 50px;

  @media #{$brk-narrow} {
    @include span-columns(12 of 12);
    padding: 20px;
  }
}

#MAIN_WRAP h1,
h2 {
  font-size: 30px;

  @media #{$brk-narrow} {
    font-size: 20px;
  }
}

.box0 {
  @include span-columns(6 of 12, table);
  @media #{$brk-narrow} {
    @include span-columns(12 of 12);
  }
}

.box1 {
  @include span-columns(6 of 12, table);
  @media #{$brk-narrow} {
    @include span-columns(12 of 12);
  }
}

.box2 {
  @include span-columns(12);
  overflow: hidden;
}

.FIX {
  position: absolute;
}

.tag {
  position: absolute;
  margin-bottom: 50px;
}

footer {
  @include span-columns(12);
  background-color: black;
  color: $color-pink;
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  @media (max-width: 768px) {
    margin-top: 160px;
  }

  a {
    margin: 80px;
    @media (max-width: 768px) {
      margin: 15px;
    }
  }

  img {
    margin-top: 10%;
    height: 70px;
    width: 70px;

    @media (max-width: 768px) {
      margin-top: 20%;
      height: 40px;
      width: 40px;
      display: inline;
    }
  }

  span {
    color: white;
  }

  div {
    margin: 40px;
    margin-top: 12%;
  }

  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  img {
    position: relative;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;
  }

  img:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}

button.accordion {
  display: inline-block;
  font-size: 50px;
  background-color: black;
  padding-bottom: 0px;
  color: $color-pink;
  transition: 0.2s ease;
  font-weight: bold;
  outline: none;
  border: none;

  @media #{$brk-narrow} {
    font-size: 30px;
    margin-left: -80px;
  }

  @media #{$brk-small} {
    font-size: 30px;
    margin-left: 0px;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active,
button.accordion:hover {
  color: $color-pink;
  outline: none;
  border: none;
  background-color: black;
}
button:focus {
  background-color: black;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0px;
  margin-bottom: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  line-height: 300%;
  font-size: 20px;
  background-color: $color-pink;

  @media #{$brk-narrow} {
    font-size: 16px;
    line-height: 200%;
  }
}

#NAVMENU .panel a {
  color: black;
}
